{{ define "header"}}
<header>
        <div>
                <h1 style="color:#6f6f6f;" href="/">

                        АВТОМАТИКА
                        <span style="color:red;">–</span>Э
                </h1>
                <aside>
                </aside>
                <section>
                        <nav>
                                <ul class="top-menu">
                                        <li>
                                                <a href="/edit?id=coils">Coil Registers</a>
                                        </li>
                                        <li>
                                                <a href="/edit?id=di">Discrets Input</a>
                                        </li>
                                        <li>
                                                <a href="/edit?id=ir">Input Registers</a>
                                        </li>
                                        <li>
                                                <a href="/edit?id=hr">Holding Registers</a>
                                        </li>
                                </ul>
                        </nav>


                </section>
        </div>

</header>

{{ end}}